/*!
 * Custom Style Additions for Product Page
 * Date: 02.07.16
 */

div.product-collateral {
  div.product-description {
    p {
      margin-bottom: 15px;
    }
  }
  div.reviews-snippet {
    margin: 15px 0;
  }
  div.related-products {
    div.block-related {
      width: 100%;
      float: none;
      clear: none;
      padding: 0;
    }
  }
}

div.product-view {
  div.small-attributes {
    p {}
  }
}

/* =================
Custom Media Queries
===================*/
@media screen and (min-width: 771px) and (max-width: 991px) {
  div.product-collateral {
    div.additional-information {
      table {
        th {
          white-space: normal;
          width: 50%;
        }
        tr {}
        td {
          width: 50%;
        }
      }
    }
  }
}